<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-nav" href="{{ 'home'|page }}"><i class="fa fa-music" style="font-size:24px;color:yellow;padding-top:10px"></i></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'artists' %}active{% endif %}"><a href="{{ 'artists'|page }}">Artists</a></li>
                <li class="{% if this.page.id == 'gigs' %}active{% endif %}"><a href="{{ 'gigs'|page }}">Gigs</a></li>
                <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|staticPage }}">About</a></li>
                <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
                <!--<li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Plugin components</a></li>-->
            </ul>
        </div>
    </div>
</nav>
